.about-us {
    background-image: url(../images/bgc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.specialization {
    display: flex;
    padding-top: 200px;
    justify-content: space-between;
}

.rectangle-25 {
    position: absolute;
    width: 526px;
    height: 499px;
    
    top: 1160px;
}

.computer-img {
    position: absolute;
    width: 446px;
    height: 446px;
    left: 152px;
    top: 1256px;
}
  
.about-us-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}

.about-us-text-box {
    padding-left: 50%;
    padding-top: 70px;
    color: #fff;
}

.about-us-text {
    padding-top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.fast-start{
    padding-top: 400px;
    display: flex;
    justify-content: start;
}

.start-logo {
    transform: rotate(45deg);
}

.start-title{
    font-family: Roboto;
    font-style: Bold;
    font-size: 48px;
    line-height: 67px;
    text-align: left;
    color: #fff;
}

.start-text{
    padding-top: 50px;
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    text-align: Left;
    vertical-align: Top;
    Opacity: 50%;
    color: #fff;
}

.infographic {
    padding-top: 80px;
    display: table;
    flex-direction: row;   
}

.start-infographik-text {
    padding-top: 35px;
    max-width: 306px;
    font-family: Roboto;
    font-style: Regular;
    font-size: 14px;
    line-height: 22px;
    opacity: 50%;
    color: white;
}

.percent {
    padding-bottom: 20px;
    padding-top: 80px;
    font-family: Roboto;
    font-style: Bold;
    font-size: 36px;
    line-height: 50px;
    text-align: left;
    color: #fff;
}

.start-infographic {
  display: table-cell;
}

.graphik {
    text-align: center;
}

.advantages-form {
    display: flex;
    padding-top: 120px;
}

.advantages-title {
    padding-top: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.advantages {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 350px;
}

.icon-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;    
    color: #FFFFFF;
}

.advantages-icon {
    padding-bottom: 60px;
}

.advantages-text {
    padding-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}